html,
body {
    position: relative;
    user-select: none;
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input::placeholder {
    color: var(--color-font-2);
}
select:focus,
textarea:focus {
    outline: none;
}

.controller {
    -webkit-app-region: drag;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 30px;
}
